
*.bak
*.cvpj
*.dll
*.fxp
*.mmp
*.wopl
*.xml
.fxp
base64test.py
docs/*
extracted_samples/*
musicfiles/*
vsttest.py
*.exe
*.rtf
*.html
*.png
*.rtf#
*.it
*.mptm
*.txt
vst2_win.ini
vst3_win.ini
placemath_test.py
xmltest.py
*.flp
*.flm
*.json
*.yaml
*.z_yml
zry_test.py
*.flms
flmdecode.py
*.fxb
*.fmf
